@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background: rgb(255, 255, 255);
}

h1,
h4,
a,
p {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
}

/* .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    height: 100vh !important;
} */
/* to make menu items for Topbar component */
.menu ul {
    align-items: center;
}

.background-color {
    background-color: #564D00;
}

.txt-color {
    color: #564D00 !important;
}

.error {
    border: 1px solid red;
    border-radius: 10px;
}
